body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 600;
  min-width: 380px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 200;
}

