.contacts-page__des {
  font-size: 16px;
  font-weight: 300;
}


.contacts-page__head {
  margin-top: 80px;
}

.contacts-page__btn {
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  text-align: center;
  width: 100%;
}
