.gallery__slider {
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

.gallery__img {
    width: 800px;
    height: 450px;
    object-fit: cover;
}

.gallery__slide {
    margin: 0 33px;
}

.gallery__dots {
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
}

.gallery__dots li {
    list-style: none;
    font-size: 0;
    & button {
        cursor: pointer;
        width: 4px;
        height: 4px;
        padding: 0;
        border: none;
        background-color: #959595;
        border-radius: 50%;
    }
}

.gallery__dots li.slick-active button {
    width: 7px;
    height: 7px;
    background-color: #000;
}

@media (max-width: $lg) {
    .gallery__img {
        width: 80vw;
        height: 48vw;
        object-fit: cover;
    }
    .gallery__slide {
        margin: 0 3vw;
    }
}