.main-page__bg {
    width: 42%;
    background: url("../img/main-page__bg.jpg") no-repeat;
}

.main-page__content {
    padding-bottom: 185px;
}

.main-page__btn {
    margin-top: 35px;
}

@media (max-width: $lg) {
    .main-page__content {
        max-width: 450px;
    }
}

@media (max-width: $md) {
    .main-page__content {
        margin: 0 auto;
        padding-bottom: 105px;
    }
    .main-page__btn {
        margin-left: auto;
        margin-right: auto;
    }
}

.main-page__head {
    font-size: 60px;
    margin-top: 140px;
    font-weight: 200;
    & span {
        font-weight: 600;
    }
}

@media (max-width: $xl) {
    .main-page__head {
        font-size: 50px;
    }
}

@media (max-width: $lg) {
    .main-page__head {
        font-size: 42px;
    }
}

@media (max-width: 767px) {
    .main-page__head {
        margin-top: 60px;
        font-size: 35px;
    }
    .main-page__content {
        max-width: 400px;
    }
}

@media (max-width: $sm) {
    .main-page__head {}
}

.main-page__contacts {
    margin-left: auto;
    text-align: right;
}