.main-page {
  position: relative;
  background-color: white;
}

.main-page__bg {
   position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 42%;
    background: url("../img/main-page__bg.jpg") no-repeat;
    background-size: cover ;
    background-position: bottom right;
    overflow: hidden;
    z-index: 99;
}




.main-page__content {
  padding-bottom: 185px;
}

@media (max-width: $lg) {
  .main-page__content {
    max-width: 450px;
  }
}

@media (max-width: $md) {
  .main-page__content {
    margin: 0 auto;
    padding-bottom: 105px;
  }
}

.main-page__head {
  font-size: 60px;
  margin-top: 140px;
  & span {
    font-weight: 600;
  }
}

@media (max-width: $xl) {
  .main-page__head {
    font-size: 50px;
  }
}

@media (max-width: $lg) {
  .main-page__head {
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  .main-page__bg {
    display: none;
  }

  .main-page__head {
    margin-top: 60px;
  }

  .main-page__content {
    max-width: 400px;
  }
}

@media (max-width: $sm) {
  .main-page__head {
    font-size: 35px;
  }
}

.main-page__contacts {
  margin-left: auto;
  text-align: right;
}
