
.navbar,
.navbar-clon {
    padding: 0;
    margin-top: 40px;
    align-items: center;
  }

.navbar-white {
  color: white !important;
  &:hover {
    color: #0056b3 !important;
  }
}



.navbar-brand {
  font-size: 18px;
  margin-right: 43px;
  color: #0c0c0c;
}

.navbar-toggler-icon {
  background-image: url("../img/toogle.png");
  background-size: auto;
}

.navbar-nav {
  width: 100%;
}

.navbar-clon__nav {
  height: 24px;
  list-style: none;
}

.nav-link {
   color: #0c0c0c;
}


@media (min-width: $md) {
  .nav-link {
    padding: 0 !important;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .nav-white {
    display: none;
  }
  .nav-item {
    text-transform: uppercase;
  }
}

@media (max-width: $sm) {
  .navbar {
    font-size: 12px;
  }
}




