
.navbar,
.navbar-clon {
    padding: 0;
    margin-top: 40px;
    align-items: center;
    width: 100% !important;
  }

  .navbar-brand {
    font-size: 18px;
    margin-right: 43px;
    color: #0c0c0c;
  }

  .nav-link {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: #0c0c0c;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
 }

.navbar-white {
  color: white;
  &:hover {
    color: #0056b3;
  }
}

.navbar-toggler-icon {
  background-image: url("../img/toogle.png");
  background-size: auto;
}

.navbar-nav {
  width: 100%;
}

.navbar-clon__nav {
  height: 22px;
  list-style: none;
}


@media (min-width: $md) {
  .nav-link {
    padding: 0 !important;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .nav-white {
    display: none;
  }
  .nav-item {
    text-transform: uppercase;
  }
}

@media (max-width: $sm) {
  .navbar {
    font-size: 12px;
  }
}




