.no-webp .polishing-page__bg,
.no-js .polishing-page__bg  {
    width: 26%;
    background: url("../img/polishing__bg.jpg") no-repeat, #af0113;
    background-size: cover;
    background-position: right bottom;
  }

.webp .polishing-page__bg {
    width: 26%;
    background: url("../img/polishing__bg.webp") no-repeat, #af0113;
    background-size: cover;
    background-position: right bottom;
}


@media (min-width: 1300px) {
    .polishing-page__bg {
        width: 29%;        
    }
}

.polishing-page__car {
    position: relative;
}

.polishing-page__car-wrap {
    position: absolute;
    transform: translateX(calc(-50% - 15px));
    text-align: right;
    & img {
        width: 50%;
        height: 280px;
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .polishing-page__bg {
        display: none;
    }
}

@media (max-width: $sm) {
    .polishing-page__car-wrap {
        position: relative;
        text-align: center;
        transform: translateX(-15px);
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}