.table th {
  border-top: none !important;
  text-align: center;
}

.table td {
  text-align: center;
  font-weight: 400;
  font-size: 1.7rem;
  text-align: center;
  padding: 10px 0 !important;
  &:first-child {
    text-align: left;
    font-size: 1.5rem;
    font-family: "Montserrat Alternates", "Arial", sans-serif;
    font-weight: 300;
  }
  &:last-child {
    text-align: right;
  }
}

@media (max-width: $xl) {
  .table td {   
    font-size: 21px;    
    &:first-child {
      text-align: left;
      font-size: 18px;      
    }    
  }
}

@media (max-width: $lg) {
  .table td {   
    font-size: 18px;    
    &:first-child {
      text-align: left;
      font-size: 16px;      
    }    
  }
}

@media (max-width: 650px) {
  .table__wrapper {
    overflow-x: scroll;
  }

  .table {
    width: 610px; 
    & td:last-child {
      padding-right: 15px !important;
    }   
  }
}
