.table th {
  border-top: none !important;
  text-align: center;
}

.table td {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  padding: 10px 0 !important;
  &:first-child {
    text-align: left;
    font-size: 21px;
    font-family: "Montserrat Alternates", "Arial", sans-serif;
    font-weight: 300;
  }
  &:last-child {
    text-align: right;
  }
}

@media (max-width: $xl) {
  .table td {   
    font-size: 21px;    
    &:first-child {
      text-align: left;
      font-size: 18px;      
    }    
  }
}

@media (max-width: $lg) {
  .table td {   
    font-size: 18px;    
    &:first-child {
      text-align: left;
      font-size: 16px;      
    }    
  }
}
