.tinting-page {
    background-color: white;
}

.no-webp .tinting-page__bg,
.no-js .tinting-page__bg  {
    width: 25%;
    background: url("../img/tinting__bg.jpg") no-repeat, #250ce4;
    background-size: cover;
    background-position: right bottom;
  }

.webp .tinting-page__bg {
    width: 25%;
    background: url("../img/tinting__bg.webp") no-repeat, #250ce4;
    background-size: cover;
    background-position: right bottom;
}

.tinting-page__car {
    position: relative;
}

.tinting-page__car-wrap {
    position: absolute;
    transform: translateX(calc(-50% - 15px));
    text-align: right;
    & img {
        width: 50%;
        height: 280px;
        object-fit: cover;
    }
}


@media (min-width: 1300px) {
    .tinting-page__bg {
        width: 28%;        
    }

}

@media (max-width: 767px) {
    .tinting-page__bg {
        display: none;
    }
}

